body{
    background-color: #0F0617;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container{
    width: 360px;
    height: 625px;
    /* border: 1px solid red; */
    margin: auto;
    color: white;
    text-align: center;
}
h3{
    margin-top: 19%;
}
.signinp{
    padding: 0 10% 0 10%;
    margin-bottom: 15%;
    color: rgba(255, 255, 255, 0.692);
    font-size: 17px;
}
.signin{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    width: 90%;
    height: 8%;
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 14%;
    cursor: pointer;
    
}
/* .img{ */
    /* background-color: #db286b; */
/* } */
.a{
    color: #db286b;
    font-weight: bolder;
    margin-left: 1%;
    margin-top: 14px;
    width: 50px;
    height: 25px;
    font-size: 17px;
    
}
.or{
    width: 9%;
    height: 5%;
    border: 1px solid #450948;
    margin-top: 50px;
    background-color: #450948;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 9%;
}
.or>p{
    text-align: center;

}
.or> div {
    margin: 5px 0px 0px 0px;
}
input{
    width: 90%;
    height: 6%;
    background-color: #0F0617;
    border: 0;
    /* border-bottom: red; */
    border-style: none;
    color: white;
    margin-bottom: 5%;
}
.line{
    width: 90%;
    height: auto;
    border: 1px solid #3f3845;
    margin: auto;
    margin-top: -17px;
    /* margin-bottom: 10px; */
}
.terms{
    margin-left: -5%;
    text-align: left;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 6%;
}
span{
    color: #9d81ff;
    cursor: pointer;
}
.otp{
    margin-bottom: 10%;
    width: 90%;
    height: 8%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.sendotp{
    color: gray;
    /* text-align: center; */
    display: inline-block;
    text-decoration: none;
}
.login{
    text-decoration: none;
    color: #9d81ff;
    cursor: pointer;
}